version: "3"

networks:
  gitea:
    external: false

volumes:
  gitea:
    driver: local

services:
  server:
    image: {{ container_gitea_image }}
    container_name: {{ container_name }}
    restart: always
    networks:
      - gitea
    volumes:
      - gitea:/data
# Timezone Breaks Podman on (Fedora, Ubuntu)! this directory doesn't exist.
#      - /etc/timezone:/etc/timezone:ro
#      - /etc/localtime:/etc/localtime:ro
    ports:
      - "{{ port_web_server }}"
      - "{{ port_ssh }}"